<ng-container *ngIf="showDetail">
    <div class="container">
        <div>
            <img [src]="user.avatar" height="120" width="120" alt="picture" />
        </div>
        <div class="user-detail">
            <p>
                <b> Name: </b>
                {{user.name}}
            </p>
            <p>
                <b> Occoupation: </b>
                {{user.job}}
            </p>
            <p>
                <b> Country: </b>
                {{user.country}}
            </p>
            <p>
                <b> gender: </b>
                {{user.gender}}
            </p>
            <p>
                <b> Age: </b>
                {{user.age}}
            </p>
        </div>
    </div>
</ng-container>